<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Album - <%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <h1 class="brand"><%= htmlWebpackPlugin.options.title %></h1>
      <nav class="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="album.html">Album</a></li>
        </ul>
      </nav>
    </header>
    <main class="main"></main>
    <footer class="footer">
      <p>&copy; 2020 <%= htmlWebpackPlugin.options.title %>. All Rights Reserved.</p>
    </footer>
  </div>
</body>
</html>
